<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
             <%= image_tag "grimlock.png" %>
            <h1 class="cover-heading">Me Grimlock online!</h1>
          </div>

        </div>

      </div>

</div>
